* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 8.88px;
}

body {
	color: #FFF;
	background: #EBF2F5;
}

body, input, button, textarea {
	font: 600 1.8rem Nunito, sans-serif;
}