#page-landing {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);

	display: flex;
	justify-content: center;
	align-items: center;
}

#page-landing .content-wrapper {
	position: relative;

	width: 100%;
	max-width: 1000px;
	min-width: 900px;

	height: 100%;
	max-height: 500px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;

	background: url('../../images/landing.svg') no-repeat 65% center/contain;
}

@media screen and (min-width: 1600px) {
	#page-landing .content-wrapper {
		max-width: 1100px;
		min-width: 990px;

		max-height: 580px;
	}
}

#page-landing .content-wrapper main {
	max-width: 350px;
}

#page-landing .content-wrapper h1 {
	font-size: 7.6rem;
	font-weight: 900;
	line-height: 7rem;
}

#page-landing .content-wrapper p {
	margin-top: 40px;
	font-size: 2.4rem;
	line-height: 3.4rem;
}

.content-wrapper .location {
	font-size: 2.4rem;
	line-height: 3.4rem;

	display: flex;
	flex-direction: row;
	align-items: center;
}

.content-wrapper .location .city-state {
	display: flex;
	flex-direction: column;
	margin-left: 64px;
}

.content-wrapper .location strong {
	font-weight: 800;
}

.content-wrapper .enter-app {
	position: absolute;
	right:0;
	bottom: 0;

	width: 80px;
	height: 80px;

	background: #FFD666;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;

	transition: background-color 0.2s;
}

.content-wrapper .enter-app:hover {
	background: #96FEFF;
}

.content-wrapper .restricted-access-button {
	position: absolute;
	right:0;
	top: 0;

	text-decoration: none;

	padding: 13px 40px;

	background:#12D4E0;
	color: #FFF;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 20px;
	line-height: 30px;
	font-weight: 800;

	transition: all 0.2s;
}

.content-wrapper .restricted-access-button:hover {
	background: #96FEFF;
	color: #15C3D6;
}