#login-page-container {
	display: flex;
  height: 100%;
  min-height: 100vh;
}

#login-page-container .location {
	display: flex;
	flex-direction: column;
	flex: 2;

	justify-content: center;
	align-items: center;

	min-width: 600px;

	font-size: 20px;
	line-height: 30px;

	background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7);
}

#login-page-container .location img {
	width: 25%;
	margin-bottom: 100px;
}

#login-page-container .location strong {
	font-weight: 800;
}

#login-page-container .login-form-container {
	display: flex;
	flex: 1;

	flex-direction: column;
	justify-content: center;

	min-width: 440px;
  padding: 20px 80px;

  background-color: #FFF;
  
  position: relative;
}

#login-page-container form.login-form fieldset {
  border: 0;
}

#login-page-container form.login-form fieldset + fieldset {
  margin-top: 80px;
}

#login-page-container form.login-form fieldset legend {
  width: 100%;

  font-size: 3rem;
  line-height: 34px;
  color: #5C8599;
  font-weight: 700;

  border-bottom: 1px solid #D3E2E5;
  margin-bottom: 40px;
  padding-bottom: 24px;
}

#login-page-container form.login-form .input-block + .input-block {
  margin-top: 24px;
}

#login-page-container form.login-form .input-block label,
#login-page-container form.login-form .form-options {
  display: flex;
  color: #8FA7B3;
  margin-bottom: 8px;
  line-height: 24px;
}

#login-page-container form.login-form .input-block label span {
  font-size: 14px;
  color: #8FA7B3;
  margin-left: 24px;
  line-height: 24px;
}

#login-page-container form.login-form .input-block input {
  width: 100%;
  background: #F5F8FA;
  border: 1px solid #D3E2E5;
  border-radius: 20px;
  outline: none;
	color: #5C8599;
	
	height: 64px;
  padding: 0 16px;
}

#login-page-container form.login-form .form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 24px;
}

#login-page-container form.login-form .form-options a {
  text-decoration: none;
}

#login-page-container form.login-form .form-options a:visited,
#login-page-container form.login-form .form-options a:hover,
#login-page-container form.login-form .form-options a:active {
  color: unset;
}

.form-options .checkbox-container {
  position: relative;

  display: flex;
  align-items: center;
}

.form-options .checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.form-options .checkbox-container .checkmark {
  height: 24px;
  width: 24px;
  background-color: #F5F8FA;
  border-radius: 8px;
  border: 1px solid #D3E2E5;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form-options .checkbox-container .label-text {
  margin-left: 16px;
}

.form-options .checkbox-container input:hover + .checkmark {
  background-color: #9BE3BF;
  border-color: #9BE3BF;
}

.form-options .checkbox-container input:checked + .checkmark {
  background-color: #37C77F;
}

#login-page-container form.login-form button.confirm-button {
  margin-top: 64px;

  width: 100%;
  height: 64px;
  border: 0;
  cursor: pointer;
  background: #3CDC8C;
  border-radius: 20px;
  color: #FFFFFF;
  font-weight: 800;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s;
}

#login-page-container form.login-form button.confirm-button svg {
  margin-right: 16px;
}

#login-page-container form.login-form button.confirm-button:hover {
  background: #36CF82;
}

#login-page-container .cancel-login {
	position: absolute;
	right: 30px;
	top: 30px;

	width: 48px;
	height: 48px;

  background: #EBF2F5;
  color: #15C3D6;
	border-radius: 16px;
	display: flex;
	justify-content: center;
	align-items: center;

	transition: background-color 0.2s;
}

#login-page-container .cancel-login:hover {
  background: #15C3D6;
  color: #EBF2F5;
}